body {
    font-family: Arial;
    padding: 20px;
    background-color: #f4f6f9;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    padding: 10px 15px;
    background-color: #0077cc;
    color: white;
    border: none;
    cursor: pointer;
}
